<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号信息</title>
    <style>
        body,html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .title {
            width: calc(100% - 30px);
            height: 40px;
            line-height: 40px;
            background-color: #ECECEC;
            text-align: left;
            padding: 0 0 0 30px;
            margin: 0;
        }
        .img-div {
            display: block;
            float: left;
            text-align: right;
            width: 100px;
            height: 100px;
            line-height: 100px !important;
            padding: 0 20px 0 0;
        }
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-top: 10px;
        }
        .div {
            margin-top: 10px;
            display: inline-block;
            text-align: right;
            width: 100px;
            height: 50px;
            line-height: 50px;
            padding: 0 20px 0 0;
        }
        #power {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            margin-top: 10px;
        }
        .input {
            height: 35px;
            border: 1px solid #DEDEDE;
            size: 20;
            font-size: 16px;
        }
        form div:last-of-type {
            margin-top: -10px;
        }
        form>input:last-of-type {
            height: 35px;
            width: 65px;
            color: white;
            border-radius: 5px;
        }
        label {
            text-align: center;
            height: 50px;
            line-height: 50px;
            /* padding-top: 15px; */
        }
        .radio {
            vertical-align: middle;
            margin-top: -2px;
            height: 15px;
            width: 15px;
        }
        span {
            display: inline-block;
            text-indent: 18px;
            color: red;
        }
    </style>
</head>
<body>
    <!-- 顶部标题 -->
    <div class="title">用户添加</div>
    <form action="/admin/userlist/add" method="POST" enctype="multipart/form-data">
        <div class="div img-div">个人头像</div>
        <div title="点击修改头像">
            <input name="file" class="upLoad" type="file" value="上传" style="position: absolute;width: 100px;height: 100px;opacity: 0;border-radius: 50%;">
            <img src="http://localhost:3000/users/default.jpg" alt="无法显示">
        </div>
        <div class="div">登录名</div><input type="text" class="username input" name="username"><span></span><br/>
        <div class="div">手机</div><input type="text" name="mobile" class="input mobile"><br/>
        <div class="div">邮箱</div><input type="text" name="email" class="input email"><br/>
        <div id="power">
            <div class="div">权限</div>
            <label hahafor><input class="radio" type="radio" name="power">管理员</label>
            <input class="radio" type="radio" name="power" id="two"><label for="two">医生</label>
            <input class="radio" type="radio" name="power" id="thr"><label for="thr">患者</label>
        </div>
        <br/>
        <div class="div">密码</div><input class="password input" type="text" name="password"><br/>
        <div class="div">确认密码</div><input class="repassword input" type="text"><span></span><br/>
        <div class="div"></div><input class="btn" style="cursor: not-allowed;background-color: gray;" type="submit" value="添加" onclick="return isSubmit(e)">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        
        let span1 = document.querySelector('form span:first-of-type')
        let username = document.querySelector('.username')
        let btn = document.querySelector('.btn')
        let email = document.querySelector('.email')
        let mobile = document.querySelector('.mobile')
        let password = document.querySelector('.password')
        let repassword = document.querySelector('.repassword')
        let span2 = document.querySelector('form span:last-of-type')

        function isSubmit(event) {
            if(btn.style.cursor === 'pointer'){
                console.log('pointer')
                return true
            }else{
                console.log('not-allowed')
                return false
            }
        }

        function submit(e) {
            if(username.value !== '' || password.value !== '') {
                return false
            }else{
                return true
            }
        }

        //这个只是单传的把本地图片渲染到了浏览器上，服务器端还啥都没有
        document.querySelector('.upLoad').onchange = function(e) {
            // let obj = document.querySelector('.upLoad')  等同于下面这个
            let obj = this
            document.querySelector('img').src = window.URL.createObjectURL(obj.files[0])
        }


        username.onchange = function(e) {
            axios.get('http://localhost:3000/admin/userlist/axios',{
                params: {
                    username: username.value
                }
            }).then(res => {
                console.log(res)
                if(res.data){
                    span1.innerHTML = '√'
                    btn.style.cursor = 'pointer'
                    btn.style.backgroundColor = '#289EA1'
                }else{
                    span1.innerHTML = '该用户名已被注册'
                    btn.style.cursor = 'not-allowed'
                    btn.style.backgroundColor = 'gray'
                }
            })
        }


        password.onchange = function(e) {
            if(password.value !== repassword.value){
                btn.style.cursor = 'not-allowed'
                btn.style.backgroundColor = 'gray'
                span2.innerHTML = '两次输入密码不一致'
            }else{
                span2.innerHTML = '√'
                btn.style.cursor = 'pointer'
                btn.style.backgroundColor = '#289EA1'
            }
        }
        repassword.onchange = function(e) {
            if(repassword.value !== password.value){
                span2.innerHTML = '两次输入密码不一致'
                btn.style.cursor = 'not-allowed'
                btn.style.backgroundColor = 'gray'
            }else{
                span2.innerHTML = '√'
                btn.style.cursor = 'pointer'
                btn.style.backgroundColor = '#289EA1'
            }
        }
    </script>
</body>
</html>
