<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>发布成功</title>
</head>
<body>
  发布成功，5秒后跳转到发布信息页
  <script>
    setTimeout(() => {
      window.onload('http://localhost:8081/homepage')
    }, 3000);
  </script>
</body>
</html>
