<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>发布成功</title>
</head>
<body>
  <p>发布成功，<span id="time">3</span>秒后跳转到首页</p>
  <script>
    let time = document.getElementById('time')
    let seconds = 3
    setInterval(() => {
      if(seconds <= 0){
        // location.assign('http://81.71.2.134/new')
        location.assign('http://localhost:8081/new')
      }else {
        time.textContent = --seconds
      }
    }, 1000);

    
      // location.assign('http://localhost:8081/new/')
  </script>
</body>
</html>
